@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*
{
   font-family:'Montserrat', sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card
{
    
    box-shadow: 0 0 2px gray;
    border-radius: 0 !important;
}
.authentication
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #005555;
}

.card-title 
{
     font-style: bold;
     font-size: 1.5rem;
    
     background-color: orangered;
     margin-left: -30px;
     max-width: max-content;
     padding: 7px 15px;
     border-bottom-left-radius: 15px;
}
.authentication-form
{
     width: 400px;
}
.ant-btn-primary
{
    height: 40px !important;
    width: 100%;
    background-color: #005555 !important;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}


.parent-spinner
{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.614);
     height: 100%;
     width: 100%;
     z-index: 9999;
     position: fixed;

}

.apply-button
{
    background-color: #005555 !important;
    color: white !important;
    text-align: center !important;
    width: 10vw !important;
}

.align-end
{
    display: flex;
    justify-content: end;
}

.cursor-pointer
{
    cursor: pointer;
}